.AppThumbnailCommon {
  margin-bottom: 0px;
  margin-top: 0;
  padding: 0;
}

.AppThumbnailImage {
  margin-left: 55px;
}

.AppThumbnail{
  margin-left: 50px;
  width: 45%;
}

.AppThumbnailInput {
  width: 70px;
}

.AppThumbnailButton {
  margin-left: 70px;
}

.AppThumbnailRadio{
  margin-left: 50%;
  margin-top: 1%;
}
