.App {
  margin: 0;
  padding: 0;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

.Calendar {
  height: 420px !important;
}

.AppThumbnail {
  margin-left: 50px;
  margin-top: 0;
  padding: 0;
  width: 50%;
}

.AppThumbnailInput {
  width: 70px;
}

.StandardComponent {
  margin-left: 8px;
}

.GlyphiconDanger {
  color: red;
}

.GlyphiconWarning{
  color: orange;
}

.GlyphiconOk{
  color: green;
}

.PassWord {
  margin-left: 5px;
  width: 50%;
}
